.Vente{
    position: absolute;
    top: 17%;
    left: 12%;
    background-color: white;
    width: 500px;
    height: 300px;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 12px;
    opacity: .9;
    transition: 0.5s;
    font-family: "Courgette variant0"
}
.Vente:hover{
    opacity: 1;
}

.vente span{
    margin-top: 10px;
}

.btnVente{
    margin-top: 12px;
    background-color: aquamarine;
    padding: 12px;
    cursor: pointer;
}

