.containerProfile{
    background-color: rgb(225, 255, 245);
    margin:120px auto;
    width: 20%;
    height: 400px;
    border-radius: 20px;
}

input {
    display: block;
    margin:12px auto;
}

.produitsUser {
    display: flex;
    flex-wrap: wrap;
}

.photoP{
    width: 50px;
    border-radius: 50%;
    margin:3px 7px;

}