.containerProfile{
    background-color: rgb(225, 255, 245);
    margin:120px auto;
    width: 20%;
    height: 400px;
    border-radius: 20px;
}

input {
    display: block;
    margin:12px auto;
}

.produitsUser {
    display: flex;
    flex-wrap: wrap;
}

.photoP{
    width: 50px;
    border-radius: 50%;
    margin:3px 7px;

}

.Modification {
    display: flex;
   text-align: center;
   justify-content: center;
}

.Modification span {
margin:auto;

}

.edit{
    background-color:#1abc9c;
    color: black;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    
}

.delete{
    background-color: rgb(255, 97, 97);
    color: black;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
}

.formupdate , .formdelete{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #1abc9c;
    width: 25%;
    text-align: center;
    border-radius:12px;

  }

  .oui , .nonc  {
    background-color: #26dbb7;
    cursor: pointer;
  }
  