.co{
    width: 95%;
    height: 500px;
    display: flex;
    margin:40px auto;
    
}

.foto{
width: 50%;
border-radius: 12px;
}

.foto img{
    width: 80%;
    border-radius: 12px;
}

.statistic{
    width: 25%;
    margin-top: 150px;
    background-color: rgba(26, 188, 156, 0.3);

    font-family: "Courgette variant0";
    font-size: 24px;
    border-radius: 18px;
    text-align: center;
    margin-left: 70px;
    
    
}

button{
    margin-left: 8px;
    border: none;
    background-color: #1abc9c;
}

.purchase-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .purchase-modal h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .purchase-modal p {
    margin: 10px 0;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .modal-buttons button:hover {
    background-color: #27ae60;
  }

  hr{
    width: 80%;
    margin: auto;
  }
  