.co{
    width: 95%;
    height: 500px;
    display: flex;
    margin:40px auto;
    
}

.foto{
width: 50%;
border-radius: 12px;
}

.foto img{
    width: 80%;
    border-radius: 12px;
}

.statistic{
    width: 40%;
    margin-top: 150px;
    background-color: rgb(215, 255, 242);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    border-radius: 18px;
    text-align: center;
    margin-left: 70px;
    
}

button{
    margin-left: 8px;
    border: none;
    background-color: aquamarine;
}

