.Nav{
    font-size: 18px;
    justify-content:space-between;
}
.me-2{
    width: 320px;
}

.btnForm{
    margin-left: 12px;
    border: none;
    background-color: aquamarine;
    width: 25%;
    height: 4vh;
    border-radius: 3px;
}

p{
    text-align: center;
    cursor: pointer;
}

h2{
    text-align: center;
}