.Nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }
  
  .Nav .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .Nav .navbar-nav {
    margin-left: auto;
  }
  
  .Nav .nav-link {
    color: #000;
    font-weight: bold;
    margin-left: 12px;
    text-transform: uppercase;
  }
  
  .Nav .nav-link:hover {
    color: #000;
  }
  
  .Nav .form-control {
    border-color: #eee;
  }
  
  .Nav .btnForm {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
  }
  
  .Nav .nav-link.active,
  .Nav .nav-link:active,
  .Nav .nav-link:focus {
    color: #1abc9c;
    outline: none;
  }
  
  .Nav .dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }