.content{

margin-top: 24px;
display: flex;
flex-wrap: wrap;
font-family: "Courgette variant0";
align-items: center;
justify-content: space-around;

}

.product{
    margin: 8px;
}

.content span img{
    width: 100%;
}

