/* style for folder monProfile */

.containerProfile{
    background-color: rgb(225, 255, 245);
    margin:120px auto;
    width: 20%;
    height: 400px;
    border-radius: 20px;
}

input {
    display: block;
    margin:12px auto;
}

.produitsUser {
    display: flex;
    flex-wrap: wrap;
}

.photoP{
    width: 50px;
    border-radius: 50%;
    margin:3px 7px;

}

.Modification {
    display: flex;
   text-align: center;
   justify-content: center;
}

.Modification span {
margin:auto;

}

.edit{
    background-color:#1abc9c;
    color: black;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    
}

.delete{
    background-color: rgb(255, 97, 97);
    color: black;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
}

.formupdate, .formdelete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1abc9c;
    width: 30%;
    text-align: center;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    }
    
    .oui, .nonc {
    background-color: #16a085;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    }
    
    .oui:hover, .nonc:hover {
    background-color: #138a6e;
    }

    .mini-nav{
      display: flex;
      margin-top: 12px;
      justify-content: center;
    }

    .mini-nav p{
      margin-left: 18px;
      font-size: 18px;
    }

    .points{
      color: #138a6e;
    }
    
    .edit{
      font-weight: 500;
    }
    
  
/* style for folder Home */

*{
  font-family: 'Trebuchet MS', sans-serif;
}
.Container-lastPage{
    width: 95%;
    height: 60vh;
    margin:18px auto;
    display: flex;
    
    
}
.trend-product{
    margin:80px auto;
}

.product{
    width: 300px;
    height: 420px;
    display: inline-block;
    background-color: rgb(253, 253, 253);
    margin-left: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}



h3{
    text-align: center;
    padding: 20px ;
}

.photo{
    width: 98%;
    margin:8px 3px;
    height: 250px;
    text-align: center;
}



.catégoriesvedettes{
  width: 80%;
  margin: 10px auto 120px;
}

.catégoriesvedettes .titre{
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid black ;
  width: 18%;
  padding-top: 12px;
}

.catégoriesvedettes .collection-dispo{
  display: flex;
  flex-wrap: wrap;
}

.catégoriesvedettes img{
  width: 100%;
  margin: 12px;
  cursor: pointer;
}

.collection-dispo .H{
  width: 220px;
  height: 250px;
  margin: 12px;
  background-image: url("https://img.freepik.com/photos-premium/tendance-mode-vetements-confortables-porter-au-quotidien-influenceur-mode-masculine-homme-jeune-mannequin-mode-tenue-style-street-guy-insouciant-capuche-bel-homme-capuche-debout-fond-urbain_474717-16292.jpg");
  background-position:center;
  background-size: cover;
}
.collection-dispo .F{
  width: 220px;
  height: 250px;
  margin: 12px;
  background-image: url("https://i.pinimg.com/564x/37/ed/c9/37edc997e8e9dff0550346d2c59c2b21.jpg");
  background-position:center;
  background-size: cover;
}
.collection-dispo .EL{
  width: 220px;
  height: 250px;
  margin: 12px;
  background-image: url("https://i.pinimg.com/564x/7f/73/31/7f73314b76da0e60d3e3d543015c5aa9.jpg");
  background-position:center;
  background-size: cover;
}
.collection-dispo .A{
  width: 220px;
  height: 250px;
  margin: 12px;
  background-image: url("https://i.pinimg.com/564x/96/28/e5/9628e51fbe9177c96592f008272d3071.jpg");
  background-position:center;
  background-size: cover;
}
.collection-dispo .E{
  width: 220px;
  height: 250px;
  margin: 12px;
  background-image: url("https://i.pinimg.com/564x/35/ca/28/35ca28ee701d8f268bb3877e809c2b57.jpg");
  background-position:center;
  background-size: cover;
}
.collection-dispo .M{
  width: 220px;
  height: 250px;
  margin: 12px;
  background-image: url("https://i.pinimg.com/564x/3b/d8/7b/3bd87b93abdc5feaab5b70df0b0fe6bd.jpg");
  background-position:center;
  background-size: cover;
}

.collection-dispo {
  cursor: pointer;
}

.collection-dispo .objet{
  width: 100%;
  height: 35%;
  background-color: white;
  opacity: 0.8;
  margin-top: 140px;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index:-1;
  transition: 0.5s;
  
}

.collection-dispo .objet b{
  color: black;
  margin: auto;
  transition: 0.5s;
}



.objet:hover > Link{
  color: #000;
}

/* .collection-dispo .M:hover > .objet{
  opacity: 1;
} */








.btn{
position: absolute;
top: 10%;
left: 50%;
transform: translate(-50%,-50%);
transition: 0.3s;
width: 22%;
background-color: #1abc9c;
z-index: -1;
color: #ccc;
}


.voir{
    width: 90px;
    background-color: #1abc9c;
    position: absolute;
    right: 200px;
    height: 40px;
    border-radius: 4px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.voir a {
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
    color: white;
}

  
  .sliderArrow:hover {
    background-color: #ccc;
  }
  
  .left {
    left: 20px;
  }
  
  .right {
    right: 20px;
  }
  

  
  .product {
   
    margin-right: 20px;
    padding: 10px;
    background-color: #fff;
   
  }
  
  .product:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
  
  .product img {
    display: block;
    margin: 0 auto;
  }
  
  .product p {
    margin-top: 10px;
    text-align: center;
  }
  
  .product b {
    color: #ff3d00;
  }
  
  .title{
    text-align: center;
    color:  #1abc9c;
    font-weight: bold;
    margin-top: 19px;
  }

  .description{
    width: 80%;
    /* height: 500px; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description p{
    margin-left: 40px;
    color: gray;
  }
  
  .description video{
    border-radius: 12px;
    width: 60%;

}
  
.liste{
    margin-top: 70px;
}




/* style for folder produit regarde */

.co{
    width: 95%;
    height: 550px;
    display: flex;
    margin:40px auto;
    
}

.foto{
width: 50%;
border-radius: 12px;
}

.foto img{
    width: 80%;
    border-radius: 12px;
}

.statistic{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 25%;
    margin-top: 150px;
    background-color: rgba(26, 188, 156, 0.3);
    font-size: 15px;
    font-family: "Courgette variant0";
    font-size: 24px;
    border-radius: 18px;
    text-align: center;
    margin-left: 70px;
    
    
}

button{
    margin-left: 8px;
    border: none;
    background-color: #1abc9c;
}

.purchase-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .purchase-modal h2 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  
  .purchase-modal p {
    margin: 10px 0;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .modal-buttons button:hover {
    background-color: #27ae60;
  }

  hr{
    width: 80%;
    margin: auto;
  }
  
/* style for folder ajouter produit */

.containerAddProduit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
  }

  .pub{
    width: 40%;
  }

  .pub .desc {
    padding : "25px";
  }

  .pub img {
    width: 100%;
    border-radius: 15px;
  }
  
  .formProduit {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 50px;
     
}
  
  .formProduit h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
  }
  
  .formProduit label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .formProduit input[type="text"],
  .formProduit input[type="number"],
  .formProduit input[type="file"],
  .formProduit select,
  .formProduit textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  
  .formProduit select {
    height: 40px;
  }
  
  .formProduit textarea {
    height: 100px;
  }
  
  .formProduit .BtnForm {
    background-color: #25d7b4;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .formProduit .BtnForm:hover {
    background-color: #1abc9c;
  }
  
  .formProduit .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  

/* style for navbar */
.scrolled{
  background-color:#f0f0f0;
}
.Nav {
  width: 100%;
  color: white;
  font-size: 16px;
  position: fixed;
  z-index: 999;
  top: 0;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  }

  


  
  .Nav .navbar-brand {
    font-size: 24px;
    font-weight: bold;
  }
  
  .Nav .navbar-nav {
    margin-left: auto;
  }
  
  .Nav .nav-link {
    color: #000;
    font-weight: bold;
    margin-left: 12px;
    text-transform: uppercase;
  }
  
  .Nav .nav-link:hover {
    color: #000;
  }
  
  .Nav .form-control {
    border-color: #eee;
  }
  
  .Nav .btnForm {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 12px;
  }
  
  .Nav .nav-link.active,
  .Nav .nav-link:active,
  .Nav .nav-link:focus {
    color: #1abc9c;
    outline: none;
  }
  
  .Nav .dropdown-menu {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }

/* style for footer */

.footer {
  padding: 24px;
    margin: 150px 0 0 0;
    font-family: "Courgette variant0";
    background-color: #f0f0f0;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
}
    .top {
      display: flex;
      gap: 50px;
    }
      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: justify;
        font-size: 14px;
        margin-left: 100px;
        margin-right: 100px;
        height: 310px;
      }
        h1{
          font-size: 18px;
          font-weight: 500;
          color: #555;
        }
    span{
          color: gray;
        }
       .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
    }
      .left {
        display: flex;
        align-items: center;
      }
        .logo{
          color:  #1abc9c;
          font-weight: bold;
          font-size: 24px;
        }
  
      .right img{
          height: 50px;
        }

/* style for filter  */

.filter{
    width: 100%;
    display: flex;
    font-family: "Courgette variant0"
}

.element{
    margin:35px 20px;
}

/* style for conrainer */

.Vente{
    position: absolute;
    top: 22%;
    left: 14%;
    background-color: white;
    width: 500px;
    height: 300px;
    justify-content: flex-start;
    padding: 20px;
    border-radius: 12px;
    opacity: 1;
    transition: 0.5s;
    font-family: "Courgette variant0"
}
.Vente:hover{
    opacity: 1;
}

.vente span{
    margin-top: 10px;
}

.btnVente{
    margin-top: 12px;
    background-color: #1abc9c;
    color: white;
    padding: 12px;
    cursor: pointer;
}



.product p b{
    color : #1abc9c ;
}


/* edit style for payument modal map */

.map{
  width: 90%;
  margin: auto;
  height: 50px;
  display: flex;
  border: 1px solid rgb(237, 237, 237);
  cursor: pointer;
}

.mapshow{
  height: 500px;
  width: 700px;
   position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* edit form payment */

.formPayment{
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.formPayment {
  font-size: 18px;
}

.formPayment input{

    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f7f7f7;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);

}

.btn-form-payment{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.btn-form-payment p{
  text-align: center;
  margin:14px 12px; 
  cursor: pointer;
}

/* navbar panier */

.panier{
  display: flex;
  width: 100%;
  border: 1px solid black;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 12px;
}

.panier .titre{
  display: flex;
}

.panier img{
  width: 50px;
  border-radius: 50%;
}

.panier p {
  margin-left: 12px;
  font-weight: 700;
  align-items: center;
  font-size: 16px;
}

/* navbar notification */
.notification{
  display: flex;
  border-bottom: 1px solid black;
  margin-top: 12px;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
.notification img{
  border-radius: 50%;
}



